USE [master]
GO
/****** Object:  Database [db_HastaneYonetim]    Script Date: 30.11.2025 17:06:10 ******/
CREATE DATABASE [db_HastaneYonetim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_HastaneYonetim', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_HastaneYonetim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_HastaneYonetim_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_HastaneYonetim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_HastaneYonetim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_HastaneYonetim]
GO
/****** Object:  Table [dbo].[tbl_Bolum]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Bolum](
	[bolumAd] [varchar](50) NULL,
	[bolumID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_Bolum] PRIMARY KEY CLUSTERED 
(
	[bolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Durum]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Durum](
	[durumID] [int] IDENTITY(1,1) NOT NULL,
	[durumAd] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Durum] PRIMARY KEY CLUSTERED 
(
	[durumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HastaBilgi]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HastaBilgi](
	[hAd] [varchar](50) NOT NULL,
	[hSoyad] [varchar](50) NULL,
	[hTc] [char](11) NULL,
	[hTel] [char](11) NULL,
	[hYas] [smallint] NULL,
	[hCinsiyet] [nchar](10) NULL,
	[hSikayet] [varchar](200) NULL,
	[kTarih] [date] NULL,
	[hDurum] [int] NULL,
	[hBolum] [int] NULL,
	[hExMi] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_HastaBilgi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Login]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Login](
	[kulAdi] [varchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[kulID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_Login] PRIMARY KEY CLUSTERED 
(
	[kulID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Bolum] ON 

INSERT [dbo].[tbl_Bolum] ([bolumAd], [bolumID]) VALUES (N'Kardiyoloji', 1)
INSERT [dbo].[tbl_Bolum] ([bolumAd], [bolumID]) VALUES (N'Üroloji', 2)
INSERT [dbo].[tbl_Bolum] ([bolumAd], [bolumID]) VALUES (N'Nöroloji', 3)
SET IDENTITY_INSERT [dbo].[tbl_Bolum] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Durum] ON 

INSERT [dbo].[tbl_Durum] ([durumID], [durumAd]) VALUES (1, N'Muayene')
INSERT [dbo].[tbl_Durum] ([durumID], [durumAd]) VALUES (2, N'Yatış')
INSERT [dbo].[tbl_Durum] ([durumID], [durumAd]) VALUES (3, N'Yoğun Bakım')
SET IDENTITY_INSERT [dbo].[tbl_Durum] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_HastaBilgi] ON 

INSERT [dbo].[tbl_HastaBilgi] ([hAd], [hSoyad], [hTc], [hTel], [hYas], [hCinsiyet], [hSikayet], [kTarih], [hDurum], [hBolum], [hExMi], [ID]) VALUES (N'engin', N'patlak', N'24567685490', N'5512345676 ', 65, N'Erkek     ', N'Baş Ağrısı', CAST(N'2025-11-25' AS Date), 1, 3, 1, 2)
INSERT [dbo].[tbl_HastaBilgi] ([hAd], [hSoyad], [hTc], [hTel], [hYas], [hCinsiyet], [hSikayet], [kTarih], [hDurum], [hBolum], [hExMi], [ID]) VALUES (N'Ayşe', N'Kan', N'27899076546', N'5864876324 ', 54, N'Kadın     ', N'Kanama', CAST(N'2025-11-26' AS Date), 4, 4, 0, 3)
INSERT [dbo].[tbl_HastaBilgi] ([hAd], [hSoyad], [hTc], [hTel], [hYas], [hCinsiyet], [hSikayet], [kTarih], [hDurum], [hBolum], [hExMi], [ID]) VALUES (N'emir', N'Devrim', N'24588709567', N'5678796473 ', 86, N'Erkek     ', N'Kırık', CAST(N'2025-11-30' AS Date), 3, 4, 0, 1003)
SET IDENTITY_INSERT [dbo].[tbl_HastaBilgi] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Login] ON 

INSERT [dbo].[tbl_Login] ([kulAdi], [sifre], [kulID]) VALUES (N'emirhan', N'123', 1)
SET IDENTITY_INSERT [dbo].[tbl_Login] OFF
GO
ALTER TABLE [dbo].[tbl_HastaBilgi] ADD  CONSTRAINT [DF_tbl_HastaBilgi_kTarih]  DEFAULT (getdate()) FOR [kTarih]
GO
ALTER TABLE [dbo].[tbl_HastaBilgi]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HastaBilgi_tbl_Bolum] FOREIGN KEY([hBolum])
REFERENCES [dbo].[tbl_Bolum] ([bolumID])
GO
ALTER TABLE [dbo].[tbl_HastaBilgi] CHECK CONSTRAINT [FK_tbl_HastaBilgi_tbl_Bolum]
GO
ALTER TABLE [dbo].[tbl_HastaBilgi]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HastaBilgi_tbl_Durum] FOREIGN KEY([hDurum])
REFERENCES [dbo].[tbl_Durum] ([durumID])
GO
ALTER TABLE [dbo].[tbl_HastaBilgi] CHECK CONSTRAINT [FK_tbl_HastaBilgi_tbl_Durum]
GO
/****** Object:  StoredProcedure [dbo].[bolumDoldur]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bolumDoldur]
as
begin
select * from tbl_Bolum
end
GO
/****** Object:  StoredProcedure [dbo].[durumDoldur]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[durumDoldur]
as
begin
select * from tbl_Durum
end
GO
/****** Object:  StoredProcedure [dbo].[girisyap]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[girisyap]
@kulAdi varchar(50),
@sifre varchar(50)
as
begin
select * from tbl_Login where kulAdi=@kulAdi and sifre = @sifre
end
GO
/****** Object:  StoredProcedure [dbo].[guncelle]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[guncelle] 
(
    @id int,
    @ad varchar(50),
    @soyad varchar(50),
    @tc char(11),
    @tel char(11),
    @yas smallint,
    @cins varchar(50),
    @sikayet varchar(200),
    @tarih date,
    @durum int,
    @bolum int,
    @ex bit
)
AS
BEGIN
    UPDATE tbl_HastaBilgi 
    SET 
        hAd = @ad,
        hSoyad = @soyad,
        hTc = @tc,
        hTel = @tel,
        hYas = @yas,
        hCinsiyet = @cins,
        hSikayet = @sikayet,
        kTarih = @tarih,
        hDurum = @durum,
        hBolum = @bolum,
        hExMi = @ex
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[kaydet]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[kaydet]  
@ad varchar(50),
@soyad varchar(50),
@tc char(11),
@tel char(11),
@yas smallint,
@cins varchar(50),
@sikayet varchar(200),
@tarih date,
@durum int,
@bolum int,
@ex bit
as
begin
insert into tbl_HastaBilgi(hAd,hSoyad,hTc,hTel,hYas,hCinsiyet,hSikayet,kTarih,hDurum,hBolum,hExMi)
values(@ad,@soyad,@tc,@tel,@yas,@cins,@sikayet,@tarih,@durum,@bolum,@ex)
end
GO
/****** Object:  StoredProcedure [dbo].[kayitOl]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[kayitOl]
    @kulAdi NVARCHAR(50),
    @sifre NVARCHAR(50)
AS
BEGIN
    INSERT INTO Users (kulAdi, sifre)
    VALUES (@kulAdi, @sifre);
END
GO
/****** Object:  StoredProcedure [dbo].[listele]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listele]
AS
BEGIN
    SELECT * 
    FROM tbl_HastaBilgi 
    ORDER BY hExMi ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sil]    Script Date: 30.11.2025 17:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sil]
@id int
as
begin
delete from tbl_HastaBilgi where ID = @id
end
GO
USE [master]
GO
